.hero-header-logo img{
    max-width: 150px;
}
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}
.hero-header-logo{
    width: 30%;
}
.hero-header-content{
    width: 40%;
    text-align: center;
}
.hero-header-button{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.hero-header-button a{
    width: 207px;
    height: 44px;
    background: #FFF544;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.hero-header-button a span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: relative;
    z-index: 1;
    transition: .3s ease-in;
}
.hero-header-button a:before{
    content: '';
    background: #000;
    width: 207px;
    height: 44px;
    position: absolute;
    left: -100%;
    top: 0;
    transition: .3s ease-in;
}
.hero-header-button a:hover:before{
    left: 0;
}
.hero-header-button a:hover span{
    color: #fff;
}