.product-grid-showcase{
    display: flex;
    flex-wrap: wrap;
}
.product-showcase-card{
    width: calc(33.333% - 20px);
    margin: 0 10px 20px;
}
.product-showcase-card img{
    height: 444px;
    object-fit: cover;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000021;
    align-items: center;
    justify-content: center;
}
.popup-overlay.active{
    display: flex;
}
.popup{
    background: #fff;
    max-width: 311px;
    padding: 36px 17px 25px;
    position: relative;
}
.popup-content img{
    max-width: 120px;
    height: 140px;
    object-fit: cover;
}
.popup-image{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
.popup .close{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}