.product-grid-showcase{
    display: flex;
    flex-wrap: wrap;
}
.product-showcase-card{
    width: calc(33.333% - 20px);
    margin: 0 10px 20px;
}
.product-showcase-card img{
    height: 444px;
    object-fit: cover;
}
.popup-overlay {
    display: none;
}
.popup-overlay.active{
    display: block;
}