.product-grid-showcase{
    display: flex;
    flex-wrap: wrap;
}
.product-showcase-card{
    width: calc(33.333% - 20px);
    margin: 0 10px 20px;
}
.product-showcase-card img{
    height: 444px;
    object-fit: cover;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000021;
    align-items: center;
    justify-content: center;
}
.popup-overlay.active{
    display: flex;
}
.popup{
    background: #fff;
    max-width: 311px;
    padding: 36px 17px 25px;
    position: relative;
}
.popup-content img{
    max-width: 120px;
    height: 140px;
    object-fit: cover;
}
.popup-image{
    display: flex;
    align-items: flex-end;
    gap: 8px;
}
.popup .close{
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
}
.popup-info h3{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: Jost;
    line-height: 1;
}
.popup-info .price{
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 400;
    font-family: lustria;
    line-height: 1;
}
.popup-description{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -1%;
    line-height: 110%;
}
.popup label{
    font-size: 14px;
    color: #333;
    line-height: 1;
    margin-bottom: 6px;
}
.popup-details{
    display: flex;
    flex-direction: column;
}
.is-size{
    order: 2;
}
.is-color .option-values{
    display: flex;
    flex-wrap: wrap;
}
.is-color button{
    border: 1px solid #000;
    font-size: 18px;
    outline: none;
    font-family: Jost;
    background: transparent;
    width: 50%;
    height: 40px;
    text-align: left;
    padding: 9px;
    line-height: 1;
    position: relative;
}
.is-color button span{
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #000;
}